@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..900&family=Roboto:wght@300..900&display=swap");

/* 
==========================
Utilities
==========================
*/

:root {
  /* ------------colors----------- */
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --third-color: #f98169;
  --white-color: #ffffff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  /* ------------typography----------- */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}

/* 
==========================
RESET
==========================
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font);
  font-weight: 400;
}
/* 
==========================
custom scrollbar
==========================
*/

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* 
==========================
custom css design
==========================
*/
h1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 4.8rem;
  color: var(--secondary-color);
}
h2 {
  font-weight: 700;
  font-size: 3.8rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 4.8rem;
}
h4 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
h5 {
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
p {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 1px;
}
.main-btn {
  display: inline-block;
  padding: 1rem 3rem;
  line-height: 2.5rem;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.white-btn {
  padding: 1rem 3rem;
  line-height: 2.5rem;
  background-color: var(--white-color);
  border: 0.2rem solid var(--white-color);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.wrapper {
  padding-block: 13.2rem;
}
.text-content {
  width: 70%;
  margin: auto;
}
.counter-section h2,
.testimonial.section h2,
.book-food-text h2 {
  color: var(--white-color);
}

/* 
==========================
Header Design
==========================
*/
.navigation-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item {
  padding: 0 1rem;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color) !important;
  letter-spacing: 1px;
}
.navigation-wrap .main-btn {
  padding: 0.5rem 2.3rem;
  box-shadow: none;
  margin-left: 1rem;
}
.navigation-wrap.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 30px;
  transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
}

/* 
==========================
Hero Section
==========================
*/
.hero-section {
  width: 100%;
  background: url("../images/bg/bg-1.jpg") no-repeat center center/cover;
  height: 100vh;
  padding: 5rem;
}
/* 
==========================
Counter section
==========================
*/
.counter-section{
    background: var(--primary-color);
    padding: 4rem 0;
}
.counter-section p{
    color: var(--white-color);
    text-transform: uppercase;
}



/* 
==========================
Media Queries
==========================
*/

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 991) {
}
@media screen and (max-width: 767) {
}
@media screen and (max-width: 330) {
}
