@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@300..900&display=swap");

/* 
==========================
Utilities
==========================
*/

:root {
  /* ------------colors----------- */
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --third-color: #f98169;
  --white-color: #ffffff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  /* ------------typography----------- */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}

/* 
==========================
RESET
==========================
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font);
  font-weight: 400;
}
/* 
==========================
custom scrollbar
==========================
*/

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* 
==========================
custom css design
==========================
*/
h1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 4.8rem;
  color: var(--secondary-color);
}
h2 {
  font-weight: 700;
  font-size: 3.8rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 4.8rem;
}
h4 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
h5 {
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
p {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 1px;
}
.main-btn {
  display: inline-block;
  padding: 1rem 3rem;
  line-height: 2.5rem;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.white-btn {
  padding: 1rem 3rem;
  line-height: 2.5rem;
  background-color: var(--white-color);
  border: 0.2rem solid var(--white-color);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.wrapper {
  padding-block: 13.2rem;
}
.text-content {
  width: 70%;
  margin: auto;
}
.counter-section h2,
.testimonial.section h2,
.book-food-text h2 {
  color: var(--white-color);
}

/* 
==========================
Header Design
==========================
*/
.navigation-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item {
  padding: 0 1rem;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color) !important;
  letter-spacing: 1px;
}
.navigation-wrap .main-btn {
  padding: 0.5rem 2.3rem;
  box-shadow: none;
  margin-left: 1rem;
}
.navigation-wrap.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 30px;
  transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
}

/* 
==========================
Hero Section
==========================
*/
.hero-section {
  width: 100%;
  background: url("../images/bg/bg-1.jpg") no-repeat center center/cover;
  height: 100vh;
  padding: 5rem 0;
}
/* 
==========================
Counter section
==========================
*/
.counter-section {
  background: var(--primary-color);
  padding: 4rem 0;
}
.counter-section p {
  color: var(--white-color);
  text-transform: uppercase;
}

/* 
==========================
about section
==========================
*/
.about-section {
  background: var(--white-color);
}
.about-section .card,
.about-section .card img {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.about-section .text-sec {
  padding-left: 3rem;
}
.food-type {
  padding: 5rem 0 0 0;
}
.food-type ul li {
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 3.2rem;
  position: relative;
  margin-left: 3rem;
}
.food-type ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  left: -3.3rem;
  position: absolute;
  color: var(--primary-color);
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}
.story-section {
  width: 100%;
  height: 45rem;
  background: url("../images/bg/bg-2.jpg") no-repeat center center/cover;
  padding: 10rem 0 0 0;
  text-align: center;
}
.story-section h2 {
  color: var(--primary-color);
}

/* 
==========================
Explore Food Section
==========================
*/
.explore-food .card {
  border: none;
  background-color: transparent;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}
.explore-food .card img {
  border-radius: 1.4rem;
  object-fit: cover;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}
.explore-food .card span {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
  color: var(--primary-color);
  border-bottom: 1px solid #eee;
  margin-block-end: 2rem;
}
.explore-food .card span del {
  color: var(--text-color);
  margin-left: 0.8rem;
}
/* 
==========================
Testimonial Section
==========================
*/
.testimonial-section {
  background-color: var(--primary-color);
}
.testimonial-section h2 {
  color: var(--white-color);
}
.testimonial-section .carousel-item {
  margin-top: 4.8rem;
  padding: 13rem 5rem;
  background-color: var(--white-color);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  text-align: center;
}

.testimonial-section .client-img {
  max-width: 8rem;
  border-radius: 50%;
  padding: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial-section .testimonial-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0 11% 1rem;
}
#carouselExampleDark .carousel-indicators{
  bottom: -4rem !important;
}
#carouselExampleDark .carousel-indicators button {
  width: 1.3rem;
  height: 1.3rem;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1.6rem;
  opacity: 0.2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#carouselExampleDark .carousel-indicators button.active{
  opacity: 1;
}

/* 
==========================
footer
==========================
*/
.footer{
  background: var(--secondary-color);
}
.footer .footer-link{
  font-size: 1.6rem;
  color: var(--white-color);
  padding:0 3rem ;
}
.footer .footer-link a:hover{
  color: var(--white-color) !important;
}
.footer a i {
  font-size: 2rem;
  color: var(--white-color);
  padding: 0 1.6rem;
}
/* 
==========================
Media Queries
==========================
*/

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 991px) {
  /* custom classes */
  .text-content {
    width: 100%;
  }
  /* navbar brand */
  .navigation-wrap .navbar-brand img {
    height: 6rem;
  }
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  .navigation-wrap .nav-link {
    line-height: 1.6rem;
  }
  /* Hero Section */
  .hero-section {
    padding: 4rem 0;
  }
.testimonial-section .testimonial-text {
  padding: 0;
}
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .story-section {
    height: auto;
    padding: 4.5rem 0;
  }
.testimonial-section .carousel-item {
  padding: 13.6rem 5rem;
}
.footer .footer-link,
.footer a i {
  padding: 0 1.1rem;
}
}
@media screen and (max-width: 330px) {
.testimonial-section .carousel-item {
  padding: 15rem 5rem;
}
}
